# M6VPN-7 - Developed by M6VPN (M6VPN@tuta.com)
# M6VPN-7/systemd/bpq-stat@.service
[Unit]
Description=LinBPQ STAT application

[Service]
User=pi
WorkingDirectory=/home/pi/bpq-apps
ExecStart=/home/pi/bpq-apps/stat.sh
StandardInput=socket
StandardOutput=socket
StandardError=journal
