# M6VPN-7 - Developed by M6VPN (M6VPN@tuta.com)
# M6VPN-7/systemd/bpq-prop@.service
[Unit]
Description=LinBPQ PROP application

[Service]
User=pi
WorkingDirectory=/home/pi/bpq-apps
ExecStart=/home/pi/bpq-apps/prop.sh
StandardInput=socket
StandardOutput=socket
StandardError=journal
