# M6VPN-7 - Developed by M6VPN (M6VPN@tuta.com)
# M6VPN-7/systemd/bpq-help@.service
[Unit]
Description=LinBPQ HELP application

[Service]
User=pi
WorkingDirectory=/home/pi/bpq-apps
ExecStart=/home/pi/bpq-apps/help.sh
StandardInput=socket
StandardOutput=socket
StandardError=journal
