# M6VPN-7 - Developed by M6VPN (M6VPN@tuta.com)
# M6VPN-7/systemd/bpq-zork@.service
[Unit]
Description=LinBPQ Zork application

[Service]
User=pi
WorkingDirectory=/home/pi/bpq-apps
ExecStart=/home/pi/bpq-apps/zork.sh
StandardInput=socket
StandardOutput=socket
StandardError=journal
