# M6VPN-7 - Developed by M6VPN (M6VPN@tuta.com)
# M6VPN-7/systemd/prop-cache-update.service
[Unit]
Description=Update cached PROP data for LinBPQ

[Service]
Type=oneshot
User=pi
ExecStart=/home/pi/bpq-apps/update-prop-cache.py
