; M6VPN-7 - Developed by M6VPN (M6VPN@tuta.com)
; M6VPN-7/pi/linbpq/bpq32.cfg
; Minimal LinBPQ node + BBS for Dire Wolf KISS TCP
; Replace locator/QTH text as needed.

SIMPLE

NODECALL=M6VPN-7
NODEALIAS=NCLCC

LOCATOR=IO94EX64SC
MAPCOMMENT=M6VPN 2m packet node/BBS, Newcastle city centre, 144.9375 MHz 1200bd AX.25
EnableM0LTEMap=1

IDINTERVAL=15
IDMSG:
M6VPN-7 LinBPQ node, Newcastle IO94EX
***

BTINTERVAL=30
BTEXT:
M6VPN-7 node / M6VPN-1 BBS, IO94EX, 144.9375 MHz FM 1200bd AX.25, #18.GBR.EURO
***

INFOMSG:
---
M6VPN-7 / M6VPN-1
Newcastle city centre, IO94EX
144.9375 MHz FM, 1200 baud AX.25
H-route: #18.GBR.EURO
Mail collection/forwarding via GB7CNR
Commands: BBS CHAT WX PROP STAT HELP CONNECT BYE INFO NODES PORTS ROUTES USERS MH
---
***

CTEXT:
M6VPN-7 NCLCC                 Newcastle Packet Node / IO94EX
144.9375 MHz FM 1200bd AX.25  BBS: M6VPN-1 #18.GBR.EURO
Commands: BBS CHAT WX PROP STAT HELP INFO PORTS USERS BYE
***

FULL_CTEXT=1

; Enable LinBPQ mail/BBS server
LINMAIL
LINCHAT

; Local web/telnet management and local user access.
; Keep this LAN/local only for now.
PORT
 PORTNUM=10
 ID=Telnet/Web
 DRIVER=Telnet
 CONFIG
  LOGGING=1
  DisconnectOnClose=1
  TCPPORT=8010
  FBBPORT=8011
  HTTPPORT=8080
  SECURETELNET=1
  CMDPORT 63030 63031 63032 63033 63034
  USER=daniel,sh1tf4c3,M6VPN,,SYSOP
ENDPORT

; Radio port via Dire Wolf KISS TCP
PORT
 PORTNUM=1
 ID=144.9375 1200bd AX25
 M0LTEMapInfo=RF,144.9375,AFSK,1200,1200,Access
 BCALL=M6VPN-7
 UNPROTO=CQ
 TYPE=ASYNC
 PROTOCOL=KISS
 IPADDR=127.0.0.1
 TCPPORT=8001
 CHANNEL=A
 FULLDUP=0
 QUALITY=0
 MINQUAL=255
 MAXFRAME=2
 FRACK=7000
 RESPTIME=1000
 RETRIES=10
 PACLEN=128
 TXDELAY=300
 TXTAIL=100
 SLOTTIME=100
 PERSIST=64
ENDPORT

; Application 1 is the BBS/mailbox.
; Users can type BBS at the node, or connect directly to M6VPN-1.
APPLICATION 1,BBS,,M6VPN-1,VPNBBS,255
APPLICATION 2,CHAT,,M6VPN-4,NCLCHT,25
APPLICATION 3,WX,C 10 HOST 0 S
APPLICATION 4,ZORK,C 10 HOST 1 S
APPLICATION 5,STAT,C 10 HOST 2 S
APPLICATION 6,PROP,C 10 HOST 3 S
APPLICATION 7,HELP,C 10 HOST 4 S
